@charset "utf-8";
/* CSS Document */
body,div,fieldset,input{margin:0;padding:0;}
s{font-style:normal;font-weight:normal;text-decoration:none;color:red;padding-right: 5px;}
body{ font:12px/1.5 tahoma,arial,Microsoft YaHei,SimSun; background:#badff2; color:#666;_width:100%;_height:100%;}
input,select{font:12px/1.5 'microsoft yahei', simsun,arial; border:1px solid #ccc}
input{width:300px;}
select{width:200px}
fieldset {border:0 none;}
label{float:left;width:100px;text-align:right;line-height:30px}

.list{margin-bottom: 20px;float: left;width:80%;padding-left:100px}
.cont{width:940px;margin:0 auto;background:#fff;padding:30px;margin-top:50px}
.fl{float:left}
.ask,.answer{padding-bottom:10px;width: 100%;float: left;}
